In [1]:
import os
import pandas as pd
import numpy as np
from collections import Counter

# Plot libraries
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

# Random seed for reproducibility
seed = 202
np.random.seed(seed)

# Ignore warnings
import warnings
warnings.simplefilter('ignore')

# Garbage collector
import gc
gc.enable()

### Import the dataframes

#### Train and test

In [2]:
# Train and test
train_df = pd.read_csv("(1)train.csv")
test_df = pd.read_csv("(1)test.csv")
train_df.shape, test_df.shape

((201917, 6), (123623, 5))

In [3]:
train_df.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749

#### Transactions

In [4]:
transactions_df = pd.read_csv("(1)transactions.csv")
transactions_df.shape

(30910695, 14)

In [5]:
transactions_df.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,purchase_month_year
0,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25,1.0,16,37,2017-06
1,True,C_ID_4e6213e9bc,88,False,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15,1.0,16,16,2017-07
2,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09,1.0,16,37,2017-08
3,True,C_ID_4e6213e9bc,88,False,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02,1.0,16,34,2017-09
4,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10,1.0,16,37,2017-03

#### Merchants

In [13]:
merchants_df = pd.read_csv("(1)merchants.csv")
merchants_df.shape

(334620, 22)

In [14]:
merchants_df.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,False,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,False,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,False,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,False,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,False,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,False,-1,5,5.0
3,M_ID_c929bb59af,9514,2,20,-0.057471,-0.057471,False,E,E,69667.00,...,69667.00,1.000000,3,69667.00,1.000000,3,False,-1,20,5.0
4,M_ID_dd3ae3de10,30534,278,37,-0.057471,-0.057471,False,E,E,5180.00,...,9830.00,4.166667,6,15826.00,5.600000,10,True,11,23,2.0

### Transactions and Merchants dataframes merging

In [15]:
print("Number of common merchant_id in merchants_df and transactions_df: %d" % (len(set(transactions_df.merchant_id.unique()).intersection(set(merchants_df.merchant_id.unique())))))
print("merchants_df samples: %d, transactions_df samples: %d" % (merchants_df.shape[0], transactions_df.shape[0]))

Number of common merchant_id in merchants_df and transactions_df: 334620
merchants_df samples: 334620, transactions_df samples: 30910695

In [16]:
for c in merchants_df.columns:
    if c not in transactions_df.columns:
        print(c)

merchant_group_id
numerical_1
numerical_2
most_recent_sales_range
most_recent_purchases_range
avg_sales_lag3
avg_purchases_lag3
active_months_lag3
avg_sales_lag6
avg_purchases_lag6
active_months_lag6
avg_sales_lag12
avg_purchases_lag12
active_months_lag12
category_4

Actually, the only meaningfull features to be merged are merchant_group_id, most_recent_sales_range and most_recent_purchases_range

In [24]:
merchants_df = merchants_df[['merchant_id', "merchant_group_id", "most_recent_sales_range", "most_recent_purchases_range"]]
merchants_df.columns = ['id', "merchant_group_id", "most_recent_sales_range", "most_recent_purchases_range"]
merchants_df.head()

,id,merchant_group_id,most_recent_sales_range,most_recent_purchases_range
0,M_ID_838061e48c,8353,E,E
1,M_ID_9339d880ad,3184,E,E
2,M_ID_e726bbae1e,447,E,E
3,M_ID_c929bb59af,9514,E,E
4,M_ID_dd3ae3de10,30534,E,E

In [25]:
transactions_df.merge(merchants_df, how='left', left_on='merchant_id', right_on='id', inplace=True)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,purchase_month_year,id,merchant_group_id,most_recent_sales_range,most_recent_purchases_range
0,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25,1.0,16,37,2017-06,M_ID_e020e9b302,35.0,A,A
1,True,C_ID_4e6213e9bc,88,False,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15,1.0,16,16,2017-07,M_ID_86ec983688,2084.0,A,A
2,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09,1.0,16,37,2017-08,M_ID_979ed661fc,27369.0,C,C
3,True,C_ID_4e6213e9bc,88,False,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02,1.0,16,34,2017-09,M_ID_e6d5ae8ea6,24104.0,D,C
4,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10,1.0,16,37,2017-03,M_ID_e020e9b302,35.0,A,A
5,True,C_ID_4e6213e9bc,333,False,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24,1.0,9,37,2018-02,M_ID_50af771f8d,35.0,B,A
6,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21,1.0,16,37,2017-03,M_ID_5e8220e564,35.0,A,A
7,True,C_ID_4e6213e9bc,3,False,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18,1.0,16,37,2017-11,M_ID_9d41786a50,1348.0,C,C
8,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01,1.0,16,37,2017-06,M_ID_979ed661fc,27369.0,C,C
9,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16,1.0,16,37,2017-03,M_ID_74ba14b5fc,16731.0,D,C
10,True,C_ID_4e6213e9bc,88,False,0,A,683,M_ID_1449f22bfb,-9,-0.734135,2017-05-09,1.0,16,34,2017-05,M_ID_1449f22bfb,35.0,A,A
11,True,C_ID_4e6213e9bc,-1,False,0,A,560,M_ID_7c5e93af2f,0,-0.727929,2018-02-08,6.0,-1,34,2018-02,M_ID_7c5e93af2f,35.0,A,A
12,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-8,-0.741649,2017-06-08,1.0,16,37,2017-06,M_ID_e020e9b302,35.0,A,A
13,True,C_ID_4e6213e9bc,88,False,0,A,130,M_ID_e8fb39882d,-7,-0.727373,2017-07-14,1.0,16,41,2017-07,M_ID_e8fb39882d,35.0,A,A
14,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_97e86eae5f,-4,-0.731881,2017-10-24,1.0,16,37,2017-10,M_ID_97e86eae5f,3648.0,C,B
15,True,C_ID_4e6213e9bc,88,False,0,A,560,M_ID_e6d5ae8ea6,-8,-0.738192,2017-06-14,1.0,16,34,2017-06,M_ID_e6d5ae8ea6,24104.0,D,C
16,True,C_ID_4e6213e9bc,69,False,0,A,879,M_ID_00a6ca8a8a,0,-0.725871,2018-02-07,1.0,9,29,2018-02,M_ID_00a6ca8a8a,35.0,A,A
17,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_21e1552dab,-7,-0.734887,2017-07-07,1.0,16,37,2017-07,M_ID_21e1552dab,40911.0,E,D
18,True,C_ID_4e6213e9bc,233,False,0,A,80,M_ID_4524a562f3,-1,-0.699725,2018-01-08,1.0,9,37,2018-01,M_ID_4524a562f3,61302.0,D,C
19,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_e020e9b302,-6,-0.745405,2017-08-11,1.0,16,37,2017-08,M_ID_e020e9b302,35.0,A,A
20,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_21e1552dab,-6,-0.734887,2017-08-30,1.0,16,37,2017-08,M_ID_21e1552dab,40911.0,E,D
21,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-7,-0.737967,2017-07-01,1.0,16,37,2017-07,M_ID_979ed661fc,27369.0,C,C
22,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-7,-0.739545,2017-07-14,1.0,16,37,2017-07,M_ID_979ed661fc,27369.0,C,C
23,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_e020e9b302,-9,-0.726998,2017-05-06,1.0,16,37,2017-05,M_ID_e020e9b302,35.0,A,A
24,True,C_ID_4e6213e9bc,3,False,0,A,511,M_ID_79db784180,-13,-0.731881,2017-01-20,1.0,16,7,2017-01,M_ID_79db784180,35.0,C,C
25,True,C_ID_4e6213e9bc,333,False,0,A,80,M_ID_50af771f8d,0,-0.735638,2018-02-26,1.0,9,37,2018-02,M_ID_50af771f8d,35.0,B,A
26,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_e020e9b302,-10,-0.726472,2017-04-29,1.0,16,37,2017-04,M_ID_e020e9b302,35.0,A,A
27,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_979ed661fc,-8,-0.726772,2017-06-23,1.0,16,37,2017-06,M_ID_979ed661fc,27369.0,C,C
28,True,C_ID_4e6213e9bc,88,False,0,A,278,M_ID_21e1552dab,-11,-0.721363,2017-03-10,1.0,16,37,2017-03,M_ID_21e1552dab,40911.0,E,D
29,True,C_ID_4e6213e9bc,88,False,0,A,80,M_ID_dc7356f06d,-6,-0.692211,2017-08-05,1.0,16,37,2017-08,M_ID_dc7356f06d,1348.0,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30910665,True,C_ID_69f1f3ebe6,158,False,0,A,278,M_ID_deb43ff012,1,-0.563735,2018-03-01,1.0,15,37,2018-03,M_ID_deb43ff012,35.0,A,A
30910666,True,C_ID_df4e6d6000,248,False,-1,D,34,M_ID_4247d8f9d5,2,-0.160874,2018-04-18,1.0,15,38,2018-04,M_ID_4247d8f9d5,11151.0,E,E
30910667,True,C_ID_1237c3fdc8,96,False,0,A,705,M_ID_9a30428081,1,-0.682294,2018-03-04,2.0,24,33,2018-03,M_ID_9a30428081,968.0,E,D
30910668,True,C_ID_f992de33d6,-1,False,0,A,278,M_ID_9501338459,2,-0.672527,2018-04-28,6.0,-1,37,2018-04,M_ID_9501338459,57367.0,D,D
30910669,True,C_ID_e81ed766f7,19,False,1,B,705,M_ID_0180a94418,1,-0.671354,2018-03-10,1.0,9,33,2018-03,M_ID_0180a94418,26719.0,B,B
30910670,True,C_ID_b77af92f06,20,False,1,B,419,M_ID_916fb760fc,1,-0.722865,2018-03-21,3.0,19,1,2018-03,M_ID_916fb760fc,35.0,B,B
30910671,True,C_ID_abe7761316,69,False,2,C,561,M_ID_50f575c681,1,0.105095,2018-03-24,1.0,9,7,2018-03,M_ID_50f575c681,35.0,B,C
30910672,True,C_ID_734044eeeb,212,False,-1,D,222,M_ID_d08abd9332,2,14.269401,2018-04-23,4.0,4,21,2018-04,M_ID_d08abd9332,35.0,B,B
30910673,True,C_ID_1e2c41f86e,17,False,0,A,307,M_ID_cf49ae3158,1,-0.528197,2018-03-04,4.0,22,19,2018-03,M_ID_cf49ae3158,23413.0,B,B
30910674,True,C_ID_737e5c1d9f,251,False,0,A,705,M_ID_670cdecb69,2,-0.731881,2017-11-15,3.0,8,33,2017-11,M_ID_670cdecb69,24289.0,E,E
30910675,True,C_ID_28a5007fc6,-1,True,1,B,661,M_ID_fc7d7969c3,2,-0.745405,2018-04-10,6.0,-1,8,2018-04,M_ID_fc7d7969c3,104706.0,A,A
30910676,True,C_ID_a491e3dced,131,False,6,C,690,M_ID_4f04567628,2,0.723587,2018-04-15,1.0,9,1,2018-04,M_ID_4f04567628,123.0,B,D
30910677,True,C_ID_475e1a530f,69,False,1,B,606,M_ID_cd2c0b07e9,2,-0.671775,2018-03-31,1.0,9,17,2018-03,M_ID_cd2c0b07e9,35.0,A,A
30910678,True,C_ID_ef391c6cec,140,False,0,A,87,M_ID_7c8a56dbd3,1,-0.716855,2018-02-05,1.0,9,27,2018-02,M_ID_7c8a56dbd3,32616.0,D,D
30910679,True,C_ID_06512aaeca,69,False,0,A,317,M_ID_f3867a48a4,1,-0.701828,2018-03-03,1.0,9,25,2018-03,M_ID_f3867a48a4,107204.0,D,D
30910680,True,C_ID_c0c1724034,212,False,1,B,813,M_ID_b89572fff4,1,-0.691505,2017-11-02,4.0,4,29,2017-11,M_ID_b89572fff4,35.0,B,B
30910681,True,C_ID_bb36dec90b,331,False,0,A,560,M_ID_b5e5acf804,2,-0.735563,2018-04-09,1.0,16,34,2018-04,M_ID_b5e5acf804,35.0,A,A
30910682,True,C_ID_8dedf7350a,174,False,1,B,222,M_ID_c0915e5912,1,-0.710844,2018-03-14,1.0,9,21,2018-03,M_ID_c0915e5912,41925.0,D,D
30910683,True,C_ID_5aa521bb3e,-1,True,10,C,690,M_ID_3111c6df35,2,0.378578,2018-02-23,6.0,-1,1,2018-02,M_ID_3111c6df35,107283.0,A,A
30910684,True,C_ID_c07707ff74,194,False,2,C,87,M_ID_7dabac675c,1,-0.476431,2018-03-29,5.0,21,27,2018-03,M_ID_7dabac675c,35.0,D,D
30910685,True,C_ID_c0dda9d36b,87,False,1,B,367,M_ID_96e6a85df9,2,-0.650858,2018-04-14,3.0,11,16,2018-04,M_ID_96e6a85df9,69492.0,C,B
30910686,True,C_ID_01d35d1005,109,False,0,A,195,M_ID_f028b9c665,1,-0.679439,2018-03-28,1.0,9,34,2018-03,M_ID_f028b9c665,419.0,B,B
30910687,True,C_ID_611d4d588f,302,False,1,B,307,M_ID_ee5a6f6a35,2,-0.731881,2018-03-11,3.0,7,19,2018-03,M_ID_ee5a6f6a35,17552.0,C,C
30910688,True,C_ID_0509e85404,322,False,1,B,705,M_ID_531bc3b325,2,-0.182166,2018-04-30,3.0,11,33,2018-04,M_ID_531bc3b325,40790.0,D,D
30910689,True,C_ID_d3ad1091dc,51,False,0,A,560,M_ID_feaccfbea2,2,-0.743527,2017-12-20,1.0,16,34,2017-12,M_ID_feaccfbea2,53581.0,D,C
30910690,True,C_ID_1320dee851,142,False,0,A,309,M_ID_7754b67f3b,2,-0.701828,2018-04-06,3.0,19,21,2018-04,M_ID_7754b67f3b,35.0,E,D
30910691,True,C_ID_f112aa3381,158,False,0,A,560,M_ID_da063195b7,2,-0.694390,2018-03-07,1.0,15,34,2018-03,M_ID_da063195b7,13452.0,D,D
30910692,True,C_ID_bd97b86450,69,False,1,B,278,M_ID_9a9ccb6544,1,-0.621031,2018-03-05,1.0,9,37,2018-03,M_ID_9a9ccb6544,27710.0,D,C
30910693,True,C_ID_c0513fd84f,130,False,0,A,367,M_ID_40c28d596f,1,-0.656749,2018-03-09,3.0,7,16,2018-03,M_ID_40c28d596f,35.0,D,D
30910694,True,C_ID_a935410f8e,19,False,0,A,278,M_ID_d855771cd9,2,-0.739395,2018-04-11,1.0,9,37,2018-04,M_ID_d855771cd9,35.0,A,A

In [ ]:
gdf = historical_transactions_df.groupby("card_id")
gdf = gdf["purchase_amount"].size().reset_index()
gdf.columns = ["card_id", "num_hist_transactions"]
train_df = pd.merge(train_df, gdf, on="card_id", how="left")
test_df = pd.merge(test_df, gdf, on="card_id", how="left")

In [ ]:
df.groupby(['Mt'], sort=False)['count'].max()

In [ ]:
gdf = historical_transactions_df.groupby("card_id")
gdf = gdf["purchase_amount"].size().reset_index()
gdf.columns = ["card_id", "num_hist_transactions"]
train_df = pd.merge(train_df, gdf, on="card_id", how="left")
test_df = pd.merge(test_df, gdf, on="card_id", how="left")

### to do
prina di mergiare historical and new transactions con train e test, controllare che ci siano tutti i card_id, per train e per test, sia in historical che in new. Altrimenti conviene avere un unico dataframe transactions